body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2e2e2e;
    /* opacity: 0.8; */
}

.head-container {
    margin: 0 10px;
}

a.navbar-brand h1 {
    font-size: 4rem !important;
    font-family: 'Lobster';
    color: white;
}

.navbar-wrapper ul li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
}

.navbar-wrapper ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.profile-thumb {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
/* ============ cards height =============== */
.laycard {
    height: 195px;
}

.nav-height {
    height: 100%;
}
 

/* ============ card buttons =============== */
.btn-white {
    border: 2px solid #ffffff;
    border-radius: 2rem;
    color: #ffffff;
    font-weight: 600;
    text-transform: lowercase;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-white:hover {
    background-color: #099bf0;
    color: var(--main-accent-color);
    border: 2px solid #ffffff;
}


/* ============ Footer =============== */
#footer {
    background-color: #2e2e2e;
    margin-top: 5px;
}

.footer-logo h3 {
    color: white;
    font-size: 1rem;
    font-family: 'Lobster';
}


#footer .social-icons {
    margin-top: 1rem;
}

#footer .social-icons a {
    margin-right: 10px;
    color: #8d8c8c;
}

.copyright p {
    margin-top: 1rem;
    color: white;
    font-size: .9rem;
}